.shared-input {
    margin: 10px 0;

    .style-select {
        --ion-color-secondary: var(--ion-color-secondary);
        border-bottom: 1px #c8c7cc solid;
    }

    .btn-datetime {
        width: 100%;
        text-align: left;
        height: 100%;
        color: var(--ion-color-medium-tint);
        background: transparent;
        font-size: 16px;
        font-weight: 400;
        height: 56px;
        border-bottom: 1px #c8c7cc solid;

        &.valid {
            color: black;
        }
    }
}