/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.class.css";

@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/montserrat.woff2);
}

* {
    font-family: Montserrat, sans-serif;
}

.modal-datetime {
    &::part(content) {
        width: fit-content;
        height: fit-content;
    }
}

[aria-checked=true].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios {
    color: var(--ion-color-tertiary);
    font-weight: 700;
}

.alert-button-inner {
    color: var(--ion-color-tertiary);
}

.label-text-wrapper {
    color: var(--ion-color-medium-tint);
    font-weight: 400;
}

ion-select {
    &::part(label) {
        color: var(--ion-color-medium-tint);
        font-weight: 400;
    }
}

.modal-success {
    &::part(content) {
        width: 90%;
        height: fit-content;
        border-radius: 10px;
    }
}